* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.container {
    width: 400px;
    height: 400px;
    box-shadow: 1px 6px 4px rgba(0, 0, 0, .35);
    overflow: hidden;
    border-radius: 36px;
}

.img-box {
    display: flex;
    transition: transform .2s linear;
    transform: translateX(0);
}

img {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
}